body {
    color: rgb(255, 215, 0);
    background: rgb(201,3,3);
    background: linear-gradient(274deg, rgba(201,3,3,1) 21%, rgba(0,0,0,1) 95%);
}

nav {
    margin-top: -0.6rem;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(255, 215, 0);
    background-color: rgba(0, 0, 0, 0.452);
    border-bottom: 1px solid rgba(190, 7, 7, 0.8);
}

a {
    color: rgb(255, 215, 0);
}

article a {
    text-decoration: none;
}

article {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

h1 {
    position: relative;
    top: 30%;
    text-align: center;
}

.container {
    width: 500px;
    height: 200px;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 11%, rgb(118, 5, 5) 57%);
    font-size: 1.5rem;
}

.container {
    -webkit-transition: -webkit-transform .5s ease;
   transition: transform .5s ease;
}

article a:hover .container {
    -webkit-transform: scale(1.1);
   transform: scale(1.2);
}

.logo {
    width: 100px;
}

.busca {
    border: solid 1px gold;
    border-radius: 15px;
    width: 260px;
    height: 32px;
}

.busca input { 
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:100%;
    width:100%;
}