video {
    width: 300px;
}

body {
    background-image: url(https://www.poupardinheiro.com.br/imagens/post/2071/carrefour.jpg);
    color: white;
}

article {
    background-color: rgba(27, 22, 22, 0.754);
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    width: 70%;
}

h3 {
    width: 700px;
}

.sinopse {
    display: flex;
    justify-content: space-evenly;
}

.busca {
    border: solid 1px black;
    border-radius: 15px;
    width: 260px;
    height: 32px;
}

.busca input { 
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:100%;
    width:100%;
}

.logo {
    width: 100px;
}

nav {
    font-size: 1.3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid #00387b;
    background-color: rgba(27, 22, 22, 0.754);
}