body {
    color: rgb(255, 215, 0);
    background: rgb(201,3,3);
    background: linear-gradient(274deg, rgba(201,3,3,1) 21%, rgba(0,0,0,1) 95%);
}

nav {
    margin-top: -0.6rem;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(255, 215, 0);
    background-color: rgba(0, 0, 0, 0.452);
    border-bottom: 1px solid rgba(190, 7, 7, 0.8);
}

a {
    color: rgb(255, 215, 0);
}

div img {
    width: 185px;
    height: 270px;
}

.logo {
    width: 100px;
}

.busca {
    border: solid 1px gold;
    border-radius: 15px;
    width: 260px;
    height: 32px;
}

.busca input { 
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:100%;
    width:100%;
}

div {
    margin: 5px 10px 5px 10px;
}

article {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}